<div class="login-page">
    <form novalidate>
    <div *ngFor="let i of arrLogin">

        <!-- <div *ngIf="(i.type === 'password' || i.type === 'text') && i.controlName !== 'textarea'"> -->
            <div *ngIf="i.controlName !== 'textarea' && i.controlName !== 'button' && i.controlName !== 'select'">
            <label>{{i.name}}</label>
            <input type="{{i.type}}" name="{{i.name}}"   required="{{i.required}}"  [(ngModel)]="i.value">
            <p class="error" *ngIf="showError">{{i.name}} is required</p>
        </div>

        <div *ngIf="i.controlName === 'textarea'">
            <label>{{i.name}}</label>
                <textarea></textarea>
            <p class="error" *ngIf="showError">{{i.name}} is required</p>
        </div>
        <div *ngIf="i.controlName === 'select'">
            <label>{{i.name}}</label>
            <select *ngFor="let form_elem of form_template">
                <option *ngFor="let opt of form_elem.options">
                  {{opt}}
                </option>
              </select>
            <p class="error" *ngIf="showError">{{i.name}} is required</p>
        </div>


        <div *ngIf="i.type === 'submit'">
            <button type="{{i.type}}" (click)="onSubmit()">{{i.name}}</button>
        </div>
    </div>
    </form>
</div>